<!DOCTYPE html>
<html lang="@ctx.lang">

<head>
    @include 'layout/head.html'
</head>

<body>
    @include 'layout/navbar.html'

    <h1 class="page-title">%cookie_page_header</h1>

    @if user := ctx.user
    @if user.is_admin
    <div class="admin-actions">
        <a href="/cookies/new" class="btn-primary">+ New Cookie</a>
    </div>
    @endif
    @endif

    <div class="filter-bar">
        @include 'components/filter_input.html'
        @include 'components/grade_filter.html'
    </div>
    <div class="catalog-grid">
        @include 'components/cookie_cards.html'
    </div>

</body>

</html>
