<!DOCTYPE html>
<html lang="@ctx.lang">

<head>
    @include 'layout/head.html'
</head>

<body>
    @include 'layout/navbar.html'

    <main class="flex-grow">
        <section class="relative flex items-center justify-center overflow-hidden py-20 min-h-[600px]">
            <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/img/landscape.jpg');">
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-surface via-surface/70 to-transparent"></div>
            <div class="relative z-10 text-center">
                <h1 class="font-headline text-5xl md:text-6xl mb-8 font-extrabold drop-shadow-lg">
                    Classic Wiki
                </h1>
                <div class="m-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 text-left">
                    <a href="/cookies" class="index-card group">
                        <div class="flex justify-start items-center flex-row gap-2">
                            <div class="w-12 h-12 rounded-full flex items-center justify-center">
                                <img src="/img/gingerbrave.png" alt="gingerbrave cookie" />
                            </div>
                            <h3 class="font-headline text-xl font-bold group-hover:text-primary transition-colors">
                                %cookies
                            </h3>
                        </div>
                        <p
                            class="leading-relaxed text-xs group-hover:text-primary transition-colors text-foreground-muted">
                            Profiles of all the unique cookies,
                            from common GingerBrave to Legendary Ancients.</p>
                    </a>
                    <a href="/pets" class="index-card group">
                        <div class="flex justify-start items-center flex-row gap-2">
                            <div class="w-12 h-12 rounded-full flex items-center justify-center">
                                <img src="/img/choco_drop.png" alt="choco drop pet" />
                            </div>
                            <h3 class="font-headline text-xl font-bold group-hover:text-primary transition-colors">
                                %pets</h3>
                        </div>
                        <p
                            class="group-hover:text-primary text-foreground-muted leading-relaxed text-xs transition-colors">
                            The history of Earthbread and the
                            epic tales of the Soul Jam.</p>
                    </a>
                    <a href="/treasures" class="index-card group">
                        <div class="flex justify-start items-center flex-row gap-2">
                            <div
                                class="w-12 h-12 rounded-full bg-primary-container/20 flex items-center justify-center">
                                <img src="/img/Treasure_Portal_Icon.png" alt="treasures icon">
                            </div>
                        <h3
                            class="font-headline text-xl font-bold group-hover:text-primary transition-colors text-on-surface">
                            %treasures</h3>
                </div>
                <p class="group-hover:text-primary text-foreground-muted leading-relaxed text-xs transition-colors">
                    Optimization guides for builds,
                    toppings, and treasure combinations.</p>
                </a>
                <a href="/builds" class="index-card group">
                    <div class="flex justify-start items-center flex-row gap-2">
                        <div class="w-12 h-12 rounded-full flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
                                <rect x="14" y="2" width="8" height="8" rx="1" />
                            </svg>
                        </div>
                        <h3
                            class="font-headline text-xl font-bold group-hover:text-primary transition-colors text-on-surface">
                            %builds</h3>
                    </div>
                    <p class="leading-relaxed text-xs group-hover:text-primary text-foreground-muted transition-colors">
                        Guides for production, layout
                        planning, and managing your Cookie Kingdom.</p>
                </a>
            </div>
            </div>
        </section>
        <section class="px-8 py-20 bg-surface">
            <div class="mx-auto grid grid-cols-1 lg:grid-cols-12 gap-8">
                <div class="lg:col-span-4 flex flex-col gap-8">
                    <h2 class="font-headline text-2xl font-bold flex items-center gap-3 text-foreground">
                        <span class="material-symbols-outlined text-primary"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="M11 6a13 13 0 0 0 8.4-2.8A1 1 0 0 1 21 4v12a1 1 0 0 1-1.6.8A13 13 0 0 0 11 14H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
                                <path d="M6 14a12 12 0 0 0 2.4 7.2 2 2 0 0 0 3.2-2.4A8 8 0 0 1 10 14" />
                                <path d="M8 6v8" />
                            </svg></span>
                        FRESH FROM THE OVEN
                    </h2>
                    <div class="flex flex-col gap-4">
                        <div
                            class="bg-surface p-6 rounded-2xl border border-accent/30 hover:border-primary transition-all cursor-pointer shadow-md group">
                            <p class="font-label text-[10px] text-secondary font-bold mb-2 uppercase">DEC 20, 2024</p>
                            <h4
                                class="font-headline font-bold text-lg mb-2 text-on-surface group-hover:text-primary transition-colors">
                                The Crème Republic Update</h4>
                            <p class="text-on-surface-variant text-sm line-clamp-2">New story chapter released! Discover
                                the secrets of the coastal civilization.</p>
                        </div>
                        <div
                            class="bg-surface p-6 rounded-2xl border border-accent/30 hover:border-primary transition-all cursor-pointer shadow-md group">
                            <p class="font-label text-[10px] text-outline font-bold mb-2 uppercase">DEC 18, 2024</p>
                            <h4
                                class="font-headline font-bold text-lg mb-2 text-on-surface group-hover:text-primary transition-colors">
                                New Cookie: Strawberry Crepe</h4>
                            <p class="text-on-surface-variant text-sm line-clamp-2">Mechanics breakdown for the latest
                                defense-class addition to Earthbread.</p>
                        </div>
                    </div>
                    <button
                        class="w-full py-4 bg-surface rounded-full font-bold text-foreground hover:bg-primary hover:text-black transition-all uppercase tracking-widest text-xs font-label border border-primary/50">View
                        Archive Logs</button>
                </div>
                <div class="lg:col-span-8">
                    <div
                        class="relative group overflow-hidden rounded-[2rem] bg-surface h-full flex flex-col md:flex-row shadow-2xl border-2 border-outline-variant/20">
                        <div class="md:w-1/2 relative min-h-[300px] overflow-hidden">
                            <div class="absolute inset-0 bg-cover bg-center transition-transform duration-700 group-hover:scale-105"
                                style="background-image: url('https://placehold.co/200');">
                            </div>
                            <div class="absolute inset-0 bg-gradient-to-r from-transparent to-surface/95">
                            </div>
                        </div>
                        <div class="md:w-1/2 p-10 flex flex-col justify-center relative">
                            <span
                                class="inline-block px-4 py-1 bg-primary text-on-primary text-[10px] font-bold rounded-full mb-4 w-fit label-font uppercase">FEATURED
                                RECIPE</span>
                            <h2
                                class="font-headline text-3xl mb-4 text-on-surface font-extrabold leading-tight uppercase">
                                The Pure Vanilla Chronicles</h2>
                            <p class="text-foreground-muted mb-8 leading-relaxed text-sm">An exhaustive deep-dive into
                                the history of the First King of the Vanilla Kingdom and his role in the Dark Flour War.
                            </p>
                            <button
                                class="bg-primary text-foreground px-10 py-4 rounded-full font-bold uppercase tracking-widest text-xs label-font hover:bg-primary-container transition-all self-start flex items-center gap-3 shadow-xl hover:-translate-y-1">
                                Start Reading <span class="material-symbols-outlined text-sm">menu_book</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>