{% extends "base.html" %}
{% import "title.html" as t %}
{% block title %}{{ t::tags(ctx.page_title("not_found_title"), ctx.meta_description(), ctx.social_image()) }}{% endblock %}
{% block robots %}<meta name="robots" content="noindex, nofollow" />{% endblock %}
{% block content %}
<div class="w-full mt-12 flex flex-col items-center justify-center">
    <h1 class="text-error text-5xl font-bold font-headline mb-2">404</h1>
    <h2 class="text-error text-3xl font-body">NOT FOUND :(</h2>
    <a href="/" class="btn-success mt-8 text-black">Go back home</a>
</div>
{% endblock %}
