<!DOCTYPE html>
<html lang="@ctx.lang">

<head>
    @include 'layout/head.html'
</head>

<body>
    @include 'layout/navbar.html'

    <h1 class="page-title">%treasure_page_header</h1>

    @if user := ctx.user
    @if user.is_admin
    <div class="admin-actions">
        <a href="/treasures/new" class="btn-primary">+ New Treasure</a>
    </div>
    @endif
    @endif

    <div class="filter-bar">
        <a href="/treasures" class="@all_cls">%treasure_tab_all</a>
        <a href="/treasures?tab=normal" class="@normal_cls">%treasure_tab_normal</a>
        <a href="/treasures?tab=evo" class="@evo_cls">%treasure_tab_evolved</a>
    </div>
    <div class="filter-bar">
        @include 'components/filter_input.html'
    </div>
    <div class="catalog-grid">
        @include 'components/treasure_cards.html'
    </div>


</body>

</html>
