@for cookie in cookies
<a href="/cookies/@cookie.cookie_id" data-cr-card data-name="@cookie.name" data-name-en="@cookie.en_name" data-grade="@cookie.grade"
    class="entity-card">
    <img src="/img/grades/@{cookie.grade}.png" alt="@cookie.grade" class="size-10 self-start">
    <img src="@{ctx.cookie_img_src(cookie.image)}" alt="@cookie.name" class="h-20 w-full object-contain">
    <span class="card-title">@cookie.name</span>
</a>
@endfor
@if next_page > 0
<div hx-get="/cookies?page=@next_page" hx-trigger="revealed" hx-swap="outerHTML"></div>
@else
<div></div>
@endif
