<h2 class="font-bold text-center text-xl">%choose_language</h2>
<div class="flex items-center gap-2 w-full justify-center flex-row flex-wrap">
    @for lang in languages
    @if lang == ctx.lang
    <a class="px-4 py-2 rounded bg-primary text-foreground" hreflang="@lang"
        href="@{ctx.switch_lang_url(current_url, lang)}">@{ctx.lang_map(lang)}</a>
    @else
    <a class="px-4 py-2 rounded bg-secondary/30 text-foreground" hreflang="@lang"
        href="@{ctx.switch_lang_url(current_url, lang)}">@{ctx.lang_map(lang)}</a>
    @endif
    @endfor
</div>
