@for pet in pets
<a href="/pets/@pet.pet_id" data-cr-card data-name="@pet.name" data-name-en="@pet.en_name" data-grade="@pet.grade"
    class="entity-card">
    <img src="/img/grades/@{pet.grade}.png" alt="@pet.grade" class="size-10 self-start">
    <img src="@{ctx.img_src('pets', pet.image)}" alt="@pet.name" class="h-20 w-full object-contain">
    <span class="card-title">@pet.name</span>
</a>
@endfor
@if next_page > 0
<div hx-get="/pets?page=@next_page" hx-trigger="revealed" hx-swap="outerHTML"></div>
@else
<div></div>
@endif
