@for treasure in treasures
<a href="/treasures/@treasure.treasure_id" data-cr-card data-name="@treasure.name"
    class="border border-secondary px-4 py-2 rounded flex flex-col items-center justify-start hover:border-primary transition-colors group gap-2">
    @if grade := treasure.grade
    <img src="/img/grades/@{grade}.png" alt="@grade" class="size-10 self-start">
    @endif
    <img src="@{ctx.img_src('treasures', treasure.image)}" alt="@treasure.name"
        class="h-28 w-full object-contain">
    <h2 class="text-xl group-hover:text-primary text-secondary text-center">@treasure.name</h2>
    @if treasure.is_evolved
    <span class="bg-primary text-foreground font-bold uppercase text-xs mt-1 px-2 py-0.5 rounded-full">%evolved</span>
    @endif
</a>
@endfor
@if next_page > 0
<div hx-get="/treasures?tab=@tab&page=@next_page" hx-trigger="revealed" hx-swap="outerHTML"></div>
@else
<div></div>
@endif
