<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<link rel="shortcut icon" href="/favicon.avif" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
@if ctx.lang == 'en'
<link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap"
    rel="stylesheet">
@else if ctx.lang == 'th'
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
@end
<script src="/thirdparty/htmx.js"></script>
<script src="/js/theme.js"></script>
<title>@ctx.page_title</title>
<script>
    htmx.config.globalViewTransitions = true;
</script>
