<nav class="sticky top-0 w-full z-50 bg-background/80 backdrop-blur-md border-b border-secondary/50 shadow-xl px-2">
    <div class="flex items-center justify-between h-20 mx-auto">
        <div class="flex items-center gap-12">
            <a class="font-bold text-2xl tracking-tight text-primary flex items-center gap-2 font-headline" href="/"
                hx-boost="true">
                <img class="size-10" src="/favicon.avif" alt="home icon">
                <span class="hidden md:block">
                    COOKIE//ARCHIVE
                </span>
            </a>
            <div class="hidden lg:flex gap-8 items-center" hx-boost:inherited="true">
                @{ctx.nav_link('cookies')}
                @{ctx.nav_link('pets')}
                @{ctx.nav_link('treasures')}
                @{ctx.nav_link('builds')}
            </div>
        </div>
        <div class="flex items-center gap-6">
            <div class="relative">
                <form class="peer relative" action="/search" method="get" hx-boost="true">
                    <span class="absolute left-4 top-1/2 -translate-y-1/2 text-foreground-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg>
                    </span>
                    <input name="q" hx-get="/search" hx-trigger="input changed delay:300ms"
                        hx-target="#search-results" hx-swap="innerHTML"
                        class="bg-surface border-2 border-secondary/50 focus:border-primary focus:ring-0 rounded-full py-2 pl-12 pr-6 w-72 transition-all outline-none text-sm text-foreground"
                        placeholder="%navbar_search_placeholder" type="text" />
                </form>
                <div id="search-results"
                    class="absolute top-full left-0 mt-2 w-72 max-h-96 overflow-y-auto rounded-xl border border-secondary/70 bg-background shadow-2xl z-50 hidden peer-focus-within:flex flex-col p-2 gap-1">
                </div>
            </div>
            <button class="btn-primary size-12" popovertarget="account-dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
            </button>
            <div id="account-dropdown"
                class="p-4 m-bs-1 inline-64 bg-background text-foreground rounded border border-accent transition-discrete transition-all duration-300 flex-col gap-2 hidden popover-open:flex"
                popover>
                @if user := ctx.user
                <a href="/me" class="btn hover:bg-primary/30">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                        <circle cx="12" cy="7" r="4" />
                    </svg>
                    <p>@{user.username}</p>
                </a>
                @else
                <div class="grid grid-cols-2 gap-2 items-center justify-center">
                    <a href="/login" class="btn-primary">%login</a>
                    <a href="/register" class="btn-secondary">%register</a>
                </div>
                @endif
                <button class="btn hover:bg-secondary/20" command="show-modal" commandfor="language-dropdown">%language:
                    <span class="font-bold uppercase">@ctx.lang</span></button>
                <!-- <button class="btn-warning" popovertarget="account-dropdown" popovertargetaction="close">Close</button> -->
            </div>
            <dialog
                class="hidden open:flex flex-col items-center gap-4 border-secondary/70 border rounded p-8 w-[min(90vw,40rem)] max-h-[90vh] overflow-auto shadow-2xl bg-black text-foreground m-auto transition-discrete transition-all opacity-0 open:starting:opacity-0 open:opacity-100 duration-300"
                backdrop:transition-all backdrop:transition-discrete backdrop:opacity-0 backdrop:bg-black
                backdrop:open:opacity-40 backdrop:open:backdrop-blur-sm backdrop:open:blur-sm
                backdrop:open:starting:opacity-0 closedby="any" id="language-dropdown">
                <div hx-trigger="revealed" hx-get="/api/available-langs" hx-target="this" hx-swap="outerHTML">
                    Loading...
                </div>
                <button class="btn-warning mx-auto" command="close" commandfor="language-dropdown">%close</button>
            </dialog>
        </div>
    </div>
</nav>
